html {
    scroll-behavior: smooth;
  }

:root {
    --color-primary: #498ff8;
    --color-primary-2: #d7f1ff;
    --color-primary-3: #f3f6fb;
    --color-secondary: #0E405d;
    --color-secondary-opacity: #586064;
    --color-dark-soft-blue: #6f9cdf;
    --color-soft-blue: #84a7dc;
    --color-soft-blue-2: #317dee;
    --color-soft-yellow: #F5EA5A;
    --color-soft-yellow-2: #fffed7;
    --color-dark-soft-yellow: #f4e839;
    --gray-primary: #6b6b6b;
    --gray-secondary: #2d2d2d;
}

.fw-300-p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.fw-500-p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.fw-400-r {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.fw-600-p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.btn {
    border-radius: 2px;
}

.text-gray-50 {
    color: var(--gray-primary);
}

.fs-sm {
    font-size: 15px;
}

.fs-s-sm {
    font-size: 13px;
}

.nav-link {
    transition: 0.7s;
    letter-spacing: 0.2px;
}

.nav-link:hover {
    transition: 0.7s;
    color: var(--color-primary);
}

.hr-nav {
    opacity: 10% !important;
}

.link-top {
    position: relative;
    top: 3px;
    transition: 0.5s;
}

.link-top:hover {
    color: var(--color-primary);
    transition: 0.5s;
}

.bi.bi-chat-left-text {
    font-size: 13px !important;
}

/* home section  */

.text-main {
    color: var(--color-secondary);
    font-size: 3.5rem;
}

.text-main span, .content-register-now span, .contact-header-main span {
    color: var(--color-primary);
}

.text-info-main {
    width: max-content;
    background-color: var(--color-primary-2);
}

.text-info-main p {
    color: var(--color-secondary) !important;
}

.btn-daftar {
    /* background-color: transparent !important; */
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: white;
    position: relative;
    box-shadow: 2px 0px 10px 3px rgba(73,143,248,0.23);
-webkit-box-shadow: 2px 0px 10px 3px rgba(73,143,248,0.23);
-moz-box-shadow: 2px 0px 10px 3px rgba(73,143,248,0.23);
}

.btn-daftar:hover {
    background-color: var(--color-soft-blue-2);
    border: 1px solid var(--color-primary);
    box-shadow: 2px 0px 12px 3px rgba(73,143,248,0.28);
-webkit-box-shadow: 2px 0px 12px 3px rgba(73,143,248,0.28);
-moz-box-shadow: 2px 0px 12px 3px rgba(73,143,248,0.28);
}

.btn-daftar:active {
    background-color: var(--color-soft-blue-2) !important;
    border-color: var(--color-soft-blue-2) !important;
}

.btn-play:hover .bi.bi-play-circle  {
    opacity: 100%;
    transform: rotate(5deg) scale(1.1);;
    transition: 0.7s;
}

.btn-play span {
    position: relative;
    top: -2px;
}

.bi.bi-play-circle {
    font-size: 22px;
    position: relative;
    top: 3px;
    transition: .2s ease-in-out;
    display: inline-flex;
}

.btn-play, .btn-play:hover, .btn-play:active  {
    background: transparent !important;
    color: var(--color-primary) !important;
    border: none;
    line-height: 1.3;
    font-size: 15px;
}

.statistik h2 {
    color: var(--color-primary);
    position: relative;
}

.statistik h2::after {
    content: '';
    position: absolute;
    background-color: var(--color-primary);
    width: 40%;
    height: 3px;
    border-radius: 999999px;
    top: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
}
/* end home  */

/* quality  */

#quality {
    margin-top: 90px;
    background-color: var(--color-primary-3);
    width: 100%;
    height: 180px;
}

.img-quality::-webkit-scrollbar {
    display: none;
}

.img-quality {
    top: 100%;
}

.img-quality img {
    width: 200px;
    opacity: 10%;
}

/* end quality  */

/* about  */

.text-info-main2 {
    width: max-content;
    background-color: var(--color-primary-2);
}

.text-info-main2 p {
    color: var(--color-secondary) !important;
}

.about-main h1 span {
    color: var(--color-primary);
}

.about-main h1 {
    color: var(--color-secondary);
}

.about h3 {
    color: var(--color-secondary);
    font-size: 24px;
}

.about p, .about-video-text p {
    color: var(--color-secondary-opacity);
    letter-spacing: 0.3px;
}

.img-about {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.04) );
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.04));
  }

.icon-about {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 190px;
    font-size: 48px;
}

.text-about {
    font-size: 20px;
    padding-top: 50px;
}

.about-video-text h4 {
    font-size: 15px;
    color: var(--color-secondary-opacity);
}

.about-video-text h1 {
    color: var(--color-secondary);
}

/* end about  */

/* paket  */

.badge-paket {
    width: 70%;
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    background-color: #5f3de6;
}

.badge-paket p {
    position: relative;
    font-size: 18px;
    letter-spacing: 0.4px;
}

.badge-paket p::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 43px;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #673de6;

}

.card-paket {
    position: relative;
    background-color: var(--color-primary-2);
    height: 600px;
    border-radius: 5px;
}

.head-cover {
    background-color: var(--color-soft-blue);
    width: 100%;
    height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content-card h1 span {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.content-card h1 {
    color: var(--color-secondary);
}

.cover-primary {
    background: var(--color-soft-yellow) !important;
}

.content-paket-primary a {
    background-color: var(--color-soft-yellow) !important;
    border: 1px solid var(--color-soft-yellow) !important;
}

.content-paket-primary a:hover, .content-paket-primary a:active {
    background-color: var(--color-dark-soft-yellow) !important;
    border: 1px solid var(--color-dark-soft-yellow) !important;
}

.content-card a {
    background-color: var(--color-soft-blue);
    border: 1px solid var(--color-soft-blue);
    color: white;
    position: relative;
}

.content-card p{
    font-size: 13px;
    color: var(--gray-primary);
}

.content-card a:hover, .content-card a:active {
    background-color: var(--color-dark-soft-blue) ;
    border: 1px solid var(--color-dark-soft-blue) ;
}

.resource p {
    font-size: 12px;
    color: var(--color-secondary);
}

.bi.bi-check {
    background-color: var(--color-primary-2);
    color: var(--color-dark-soft-blue);
    border-radius: 50%;
    font-size: 12px;
    padding: 4px 6px;
}

.bi.bi-check.min {
  background-color: var(--color-soft-yellow-2);
  color: var(--color-dark-soft-yellow);
}

.bi.bi-question-circle {
    font-size: 12px;
}

.header-card-resource span {
  font-weight: 500 !important;
}

.content-register-now h1 {
  color: var(--color-secondary);
}

.content-register-now p, .contact-header-main .content-header p {
  font-size: 14px;
  color: var(--color-secondary-opacity);
  letter-spacing: 0.3px;
}

.content-register-now a {
  font-size: 16px;
  color: var(--color-secondary);
}

/* swiper paket  */

.swiper {
    padding-bottom: 65px !important;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
    /* border: 1px solid var(--gray-primary); */
  }

  .swiper-slide .card-main {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }

  .swiper-button-next, .swiper-button-prev {
    color: var(--color-secondary) !important;
    height: max-content;
  }

  .header-main-card p {
    font-size: 13px;
    color: var(--color-secondary);
  }

  .header-main-card h4 {
    color: var(--color-secondary);
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px !important;
  }

  .swiper-pagination-bullet {
    background: transparent !important;
    border: solid 1px var(--color-secondary) !important; 
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
  }
  
  .swiper-pagination {
    bottom: 0 !important;
  }

  .offcanvas.offcanvas-end {
    width: 290px !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--color-secondary) !important;
  }


/* end swiper paket  */

/* end paket  */

/* kontak  */

.form-control {
  border-radius: 3px ;
  margin-bottom: 8px;
  color: var(--color-secondary-opacity);
}

.form-control:focus {
  box-shadow: none !important;
}

.form-contact label {
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: 4px;
}

/* end kontak  */

/* footer  */

#footer {
    background-color: var(--color-primary-3);
    width: 100%;
    height: 200px;
}

.link-footer a {
  text-decoration: none;
  color: var(--color-secondary-opacity);
  transition: 0.4s;
}

.link-footer a:hover {
  color: var(--color-primary);
  transition: 0.4s;
}

/* end footer  */


/* responsive  */

@media screen and (max-width: 991px) {
    .img-about {
        width: 550px;
    }

    .about-video-main iframe {
        width: 540px;
    }
  }

@media screen and (max-width: 767px) {
    .img-about {
        width: 450px;
    }

    .about-video-main iframe {
        width: 450px;
    }
  }

@media screen and (max-width: 575px) {
    .img-about {
        width: 320px;
    }

    .about-video-main iframe {
        width: 100%;
    }

    #footer {
      height: 220px;
    }

    .modal-body.privasi p, .modal-body.privasi li{
      font-size: 14.1px;
    }
  }

/* end responsive */

/* loader  */

#loader {
    position: fixed;
    inset: 0;
    z-index: 99999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100%;
  }
  
  #loader:before,
  #loader:after {
    content: "";
    position: absolute;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
    -webkit-animation: animate-loader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: animate-loader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  #loader:after {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
  @-webkit-keyframes animate-loader {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
  
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }
  
  @keyframes animate-loader {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
  
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }

/* end loader  */

/* popper js  */

.custom-tooltip{
  max-width: 550px !important;
  font-size: 11px !important;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* end popper js  */